@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');


:root{
    --brown:#000;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: #fff;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding: 1rem;
}

.btn{
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background: var(--yellow);
}

.heading{
    text-align: center;
    margin: 5rem 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #65453A;
    color: #fff;
}

.heading span{
    color: #65453A;
}
/**START OF SIDE BAR NAVIGATION**/
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
   
header .user img{ /**PROFILE PICTURE**/
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 7rem;
    border: .5rem solid #FEEEE2;
}
header .user .name{
    font-size: 3.5rem;
    color: #eee;
}
header .user .position{
    font-size: 2rem;
    color: #eee;
}
header .navbar{
    width: 100%;
    margin-bottom: 4rem;
}
header .navbar ul{
    list-style-type: none;
    padding: 1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.2rem 0;
    background: #FEEEE2;
    border: .1rem solid #D4C2B4;
    color: #222;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;
}
header .navbar ul li a:hover{
    background-color: #dfc0b6;
}

#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}
.home{
    display: flex;
}
.description{
    width: 100%;
    padding: 0 10rem;
    margin-top: 15rem;
}
.home .description h3{
    font-size: 2.5rem;
}
.home .description h1{
    font-size: 5rem;
}
.home h1 span{
    color: #000;
}
.home .description p{
    font-size: 2rem;
    padding: 1rem 0;
}
.logo{
    display: flex;
}
.logo .facebook{
    width: 5rem;
    height: 5rem;
    padding: 0.7rem;
}
.logo .instagram{
    width: 5rem;
    height: 5rem;
    padding: 0.7rem;
}
.home-about{
    width: 30%;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 28rem;
}
.home-about h3{
    font-size: 2rem;
    color: #65453A;
    padding: 1rem 0;
    font-weight: normal;
}
.home-about h3 span{
    padding: 0 .5rem;
    color: #222;
}
.box-container{
    max-width: 100%;
    height: 100vh;
    margin:0 auto;
    padding: 0 10rem;
 }
 
 .box-container .title{
    font-size: 3.5rem;
    color: #65453A;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
 }
 
 .box-container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
 }
 
 .box-container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
    width: 30rem;
    height: 35rem;
 }
 
 .box-container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
 }
 
 .box-container .products-container .product img{
    height: 20rem;
    width: 26rem;
 }
 
 .box-container .products-container .product:hover img{
    transform: scale(.9);
 }
 
 .box-container .products-container .product h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:#b2b2b2;
 }
 .box-container .products-container .product .artist{
    padding:.5rem 0;
    font-size: 2rem;
    color:#222;
 }
 
 .box-container .products-container .product:hover h3{
    color: #D4C2B4;
 }
 
 .box-container .products-container .product .price{
    font-size: 2rem;
    color:#444;
 }
 
 .products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .products-preview .preview{
    display: none;
    padding:4rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 80rem;
    height: 70rem;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 40rem;
    width: 70rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
    color:#65453A;
    padding: 2rem 0 0 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color:#27ae60;
 }
 
 .products-preview .preview .stars span{
    color:#999;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#65453A;
 }
 
 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding:1rem 4rem;
    }
    

}
@media(max-width: 991px){
    header{
        left: -120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }
}

@media(max-width: 768px){
    html{
        font-size: 50%;
    }
    .home .description h1{
        font-size: 4rem;
        margin-top: 1rem;
    }
    .home{
        display: inline;
        justify-content: center;
        padding: 0 0 15rem 0;
    }
    .description{
        width: 100%;
        padding: 0 15rem;
        margin-top: 30rem;
        margin-bottom: 15rem;
    }
    .home-about{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 0.1rem;
        margin-bottom: 15rem;
        padding: 0 0 0 15rem;
    }
}

@media(max-width: 400px){
       
    header{
        width: 100vw;
    }
    .heading{
        margin: 0 3rem;
    }
    .about .row .counter .box{
        width: 100%;
        margin-left: 4rem;
    }
    .education .box-container .box{
        width: 100%;
    }
    .portfolio .box-container .box{
        width: 100%;
    }
    .contact .row form{
        margin: 3rem 0;
    }
    .home .description h1{
        font-size: 4rem;
        margin-top: 1rem;
    }
    .home{
        display: inline;
        justify-content: center;
    }
    .description{
        width: 100%;
        margin-top: 30rem;
        padding: 5%;
    }
    .home-about{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: -15rem;
        margin-bottom: 17rem;
        padding: 5%;
    }
}

