@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap");
body {
  background: #FEEEE2;
}
.top {
  margin: 3%;
  justify-content: center;

}

.container {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -40px;
}

.ghost {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  -webkit-animation: float 2s ease-out infinite;
          animation: float 2s ease-out infinite;
}

.ghost-copy {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  -webkit-animation: float 2s ease-out infinite;
          animation: float 2s ease-out infinite;
  z-index: 0;
}

.face {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}

.eye, .eye-right {
  position: absolute;
  background: #585959;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.eye {
  left: 25%;
}

.eye-right {
  right: 25%;
}

.mouth {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #585959 #585959 transparent;
  transform: rotate(45deg);
}

.one, .two, .three, .four {
  position: absolute;
  background: #EDEDED;
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid #BFC0C0;
  z-index: 0;
}

.one {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.two {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.three {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.four {
  left: 74.5%;
  border-radius: 0 0 30% 100%;
}

.shadow {
  position: absolute;
  width: 30%;
  height: 7%;
  background: #BFC0C0;
  left: 35%;
  top: 80%;
  border-radius: 50%;
  -webkit-animation: scale 2s infinite;
          animation: scale 2s infinite;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes float {
  50% {
    transform: translateY(15px);
  }
}
@keyframes float {
  50% {
    transform: translateY(15px);
  }
}
.bottom {
  margin-top: 10px;
}

/*text styling*/
h1 {
  font-family: "Montserrat", serif;
  color: #D4C2B4;
  text-align: center;
  font-size: 10vw;
  font-weight: 200;
  margin: 0;
  text-shadow: -1px 0 #BFC0C0, 0 1px #BFC0C0, 1px 0 #BFC0C0, 0 -1px #BFC0C0;
}

h3 {
  font-family: "Montserrat", serif;
  font-size: 1.6vw;
  text-transform: uppercase;
  text-align: center;
  color: #65453A;
  margin-top: 1%;
  font-weight: 700;
}

p {
  text-align: center;
  font-family: "Montserrat", serif;
  color: #766c63;
  font-size: 2vw;
  font-weight: 300;
  margin-top: -20px;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  background: #65453A;
  padding: 15px 20px;
  margin: 1.3%;
  color: white;
  font-family: "Montserrat", serif;
  font-size: 0.9;
  letter-spacing: 1px;
  border: 0;
  border-radius: 35px;
  box-shadow: 0 0 50px rgb(148, 148, 148);
  width: 12vw;
  cursor: pointer;
  text-decoration: none;
  
}

.btn:hover {
  transform: scale(1.2);
  transition: all .2s linear;
  background-color: #1b9a12;
  color: white;
}

@media only screen and (max-width: 600px) {
  .buttons{
    display: block;
    align-items: center;
    width:30vw;
    margin-left: 40%;
  }
  .btn{
    padding: 3%;
    margin: 3%;
    font-size: 90%;
    width: 60%;
    justify-content: center;
    align-content: center;
    display: block;
  }
  p{
    font-size: 3vw;
  }
}

